# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# IDE files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
